<div class="container">
  <form [formGroup]="registerFrom"
        (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" *ngIf="registerFrom.get('email').errors && registerFrom.get('email').touched" class="form-text text-muted">Sai Định dạng email.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Phone</label>
      <input type="text" formControlName="phone" class="form-control" id="phonenumber" aria-describedby="emailHelp">
      <small id="phone" *ngIf="registerFrom.get('phone').errors && registerFrom.get('phone').touched" class="form-text text-muted">Sai định dạng số điện thoại.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
      <small id="password" *ngIf="registerFrom.get('pwGroup.password').errors && registerFrom.get('pwGroup.password').touched"
             class="form-text text-muted">
        Mật khẩu phải ít nhất 5 kí tự và 15 kí tự.
      </small>
    </div>
    <fieldset formControlName="pwGroup">
    <div class="form-group">
      <label for="exampleInputPassword1">RePassword</label>
      <input type="password"  formControlName="repassword" class="form-control" id="exampleInputPassword2">
      <small id="repass" *ngIf="registerFrom.hasError('passwordnotmatch',['pwGroup'])
      && registerFrom.get('pwGroup').touched" class="form-text text-muted">Nhập lại mật khẩu không đúng.</small>
    </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Signin</button>
  </form>
</div>
