<div class="products">
  <h5><span>Top Nhạc Hot, Nghe Nghe Nhiều Nhất </span></h5>
  <div class="section group">
    <div class="grid_1_of_5 images_1_of_5">
      <img src="assets/images/a4.jpg">
      <h3>Lorem Ipsum is simply </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><label>$700.00</label>$512.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <div class="grid_1_of_5 images_1_of_5">
      <img src="assets/images/a5.jpg">
      <h3>Lorem Ipsum is simply </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><label>$700.00</label>$300.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <div class="grid_1_of_5 images_1_of_5">
      <img src="assets/images/a6.jpg">
      <h3>Lorem Ipsum is simply </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><label>$700.00</label>$120.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <div class="grid_1_of_5 images_1_of_5">
      <img src="assets/images/a7.jpg">
      <h3>Lorem Ipsum is simply </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><label>$700.00</label>$500.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <div class="grid_1_of_5 images_1_of_5">
      <img src="assets/images/a8.jpg">
      <h3>Lorem Ipsum is simply</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><label>$600.00</label>$120.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
  </div>
  <a class="button1" href="#">View all</a>
  <div class="clear"> </div>
</div>
