<nav>
  <nav class="navbar navbar-expand-sm bg-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn-danger" (click)="hiddenFrom()">Home</button>
      </li>
      <li class="nav-item">
        <button class="btn-danger" (click)="showFrom()">Add Article</button>
      </li>
    </ul>
  </nav>
</nav>
<div *ngIf="iShowFrom">
  <div>
    <textarea cols="70" id="article-title" [(ngModel)]="newTitle" placeholder="title" ></textarea>
    <textarea  cols="70" id="article-url" [(ngModel)]="newUrl" placeholder="url"></textarea>
    <button (click)="addArticle()">Add</button>
  </div>

</div>
<h2>Today's article</h2>
<hr>
<div >
  <table class="table table-active">
  <tr >
    <th>Artichtle</th>
    <th>Delete</th>
  </tr>
    <tr *ngFor="let art of articles">
      <td>
        <a href="{{art.url}}" target="_blank">{{art.title}}</a>
      </td>
    </tr>
  </table>
</div>
<hr>
